.ability-bar {
  margin-bottom: 3px;
}

.ability-card {
  padding: 3px;
  text-align: center;
  border: transparent;
  background-color: var(--card-bg);
  color: white;
}

.ability-score {
  color: white;
  text-align: center;
}

.proficiency-stack {
  color: white;
}

.check-label {
  text-align: left;
  font-size: 0.7em;
}

.check-score {
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  font-size: 0.75em;
}

.check-divider {
  margin: 2px;
}

.skill-prof-check-box {
  margin-right: 1px;
  font-size: 0.75em;
}

.skill-col-left {
  padding-right: 3px;
}

.skill-col-right {
  padding-left: 3px;
}

.skill-col-inner {
  padding-left: 3px;
  padding-right: 3px;
}

.prof-select-box {
  font-size: 0.8em;
  border: 1px solid var(--light-bg);
  border-radius: 0.25rem;
  margin: 1px;
  padding: 0.05rem 0.05rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: 
    url('data:image/svg+xml;utf8,<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="%23ffffff"><path d="M1024 256l-512 512-512-512z"/></svg>')
    no-repeat;
  background-position: right 0.1rem center;
  background-size: 8px;
}

.proficiency-text {
  color:dodgerblue;
}

.expertise-text {
  color:goldenrod;
}
