.ability-bar {
    width:auto;
}

.ability-card {
    padding:5px;
    text-align: center;
    border:transparent;
    background-color: var(--card-bg);
    color: white;
}

.ability-score {
    color: white;
    text-align: center;
}