:root {
  --dark-bg: rgb(21, 21, 21);
  --card-bg: rgb(52, 52, 52);
  --light-bg: rgb(104, 104, 104);
}

.text-center {
  text-align: center;
}

.character-sheet {
  background-color: var(--dark-bg);
  margin: 5px;
  padding: 10px;
  width: auto;
}

.character-sheet-cards {
  background-color: var(--card-bg);
  color: white;
  padding: 5px;
  margin: 10px 0px;
  border: none;
}

.edit-mode-inputs {
  background-color: var(--light-bg);
  border: 1px solid black;
  color: white;
}

.edit-mode-inputs:focus {
  background-color: var(--light-bg);
  color: white;
}

.edit-mode-inputs::placeholder {
  color: white;
}

.edit-mode-switch {
  background-color: var(--dark-bg);
  /* TODO Not sure why this is needed. Revisit */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='lightgray'/%3e%3c/svg%3e") !important;
  border-color: var(--light-bg);
}

.edit-mode-switch:checked {
  background-color: var(--light-bg);
  border-color: var(--light-bg);
}

.edit-mode-switch-label {
  color: white;
}

.character-sheet-buttons {
  background-color: rgb(52, 52, 52);
  color: white;
}

.character-sheet-plaintext {
  color: white;
}

.character-sheet-list-items {
  background-color: var(--card-bg);
  color: white;
  border-color: var(--light-bg);
}
