.character-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  max-width: 100%;
  min-height: 256px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.character-info-body {
  display: flex;
}

.character-info-body h2 {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.character-info-col-a {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.character-info-row-a {
  display: flex;
  width: 100%;
}

.character-info-row-a > :last-child {
  margin-right: 0;
}

.name-title {
  font-size: 4em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 5px 0;
}

.character-info-attribute-box {
  margin: 10px;
  margin-left: 0px;
  width: 100%;
}

.character-info-attribute-box h2,
p {
  margin: 0;
}

.character-info-attribute-baseline {
  width: calc(100% - 50px);
  margin: 0px;
}

.h2-text-input {
  font-size: 1.5em;
  border: 1px solid var(--background-dark);
  border-radius: 5px;
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: inherit;
  width: calc(100% - 50px);
}

.h1-text-input {
  font-size: 4em;
  border: 1px solid var(--background-dark);
  border-radius: 10px;
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: inherit;
  width: calc(50% - 50px);
}
