.death-save-row {
  justify-content: center;
  text-align: center;
}

.death-save-form {
  padding: 5px;
}

.death-save-check-pos {
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--light-bg);
}

.death-save-check-pos:checked {
  background-color: green;
}

.death-save-check-neg {
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--light-bg);
}

.death-save-check-neg:checked {
  background-color: red;
}
