.health-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background-lighter);
  border-radius: 5px;
  margin: 0px 5px;
  align-items: center;
  box-sizing: border-box;
  width: calc((100% / 3) - 10px);
  position: relative;
}

.health-container h1 {
  margin: 0px;
  font-size: 3em;
}

.health-container hr {
  width: 80%;
  color: var(--background-lighter);
}

.health-container h4 {
  margin: 5px 0px 0px 0px;
}

.hitpoints-top-bar {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.max-hitpoints-bar {
  display: flex;
  align-items: center;
}
.max-hitpoints-label {
  margin: 5px;
}
.max-hitpoints-value {
  margin: 5px 0px;
  width: 50px;
  text-align: center;
  border-bottom: 1px solid var(--background-lighter);
}

.health-btn-container {
  margin: 5px;
}

.health-btn {
  margin-left: 5px;
  border: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
}

.health-btn:disabled {
  color: var(--background-lighter);
  cursor: default;
}

.btn-heal {
  color: var(--primary-color);
}

.btn-damage {
  color: var(--alert-color);
}

.btn-temp {
  color: var(--prof-color);
}

.popup-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
  background-color: var(--background-light);
  border: 2px solid var(--background-dark);
  border-radius: 5px;
  box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.5);
}

.popup input {
  background: var(--background-lighter);
  border: 1px solid var(--background-dark);
  border-radius: 5px;
  width: 75%;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  color: var(--text-color);
}

.popup-btn-container {
  display: flex;
  width: 75%;
}

.popup-btn-container button {
  margin: 5px;
  width: calc(100% - 5px);
  border: 1px solid var(--background-dark);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
}

.popup-confirm-btn {
  background-color: var(--dark-primary);
}

.popup-cancel-btn {
  background-color: var(--alert-color);
}

.max-hitpoints-input {
  border: 1px solid var(--background-dark);
  border-radius: 5px;
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: inherit;
  width: 50px;
  text-align: center;
}

.hit-points-input {
  font-size: 3em;
  border: 1px solid var(--background-dark);
  border-radius: 10px;
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: inherit;
  width: 40%;
  margin-bottom: 5px;
  text-align: center;
}
