.inventory-tab-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 10px;
}

.inventory-top {
  display: flex;
  height: calc(40% - 5px);
  margin-bottom: 5px;
}

.inventory-bottom {
  height: calc(60% - 5px);
  position: relative;
  margin-top: 5px;
}

.item-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.favorites {
  height: 80%;
}

.top-bag {
  width: calc(87.5% - 10px);
  margin-right: 10px;
}

.bottom-bag {
  height: 100%;
}
