.tabs-container {
  display: flex;
  width: 80%;
}

.tabs-container h1,h4 {
  margin: 0;
  padding: 0;
}

.sheet-tab {
  color: white;
  border: 1px solid var(--background-dark);
  border-bottom: none;
  background-color: var(--background-light);
  width: calc(100% / 4);
  height: 75px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0s;
}

.sheet-tab-selected {
  background-color: #555555;
}

.sheet-tab:active {
  background-color: var(--background-light);
}
