.stat-block-container {
  display: flex;
  flex-direction: column;
  margin: 5px 25px 5px 25px;
}
.skill-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.stat-card {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
  width: calc((100% / 6) - 10px);
  align-items: center;
  border: 1px solid var(--background-lighter);
  border-radius: 5px;
  box-sizing: border-box;
}

.stat-card hr {
  width: 100%;
  opacity: 50%;
}

.stat-card h3,
h2 {
  margin: 2px 0px 2px 0px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.skill-list-item p {
  margin: 5px;
}

.skill-mod-p {
  width: 25%;
  text-align: center;
}

.skill-0 {
  color: var(--text-color);
}

.skill-1 {
  color: var(--prof-color);
}

.skill-2 {
  color: var(--exp-color);
}

.stat-footer {
  display: flex;
  width: 100%;
}

.passive-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: calc(100% * (4 / 6) - 10px);
  border: 1px solid var(--background-lighter);
  border-radius: 5px;
  margin: 10px 10px 5px 5px;
}

.passive-container p {
  margin: 5px;
  text-align: center;
}

.key-container {
  display: flex;
  border: 1px solid var(--background-lighter);
  border-radius: 5px;
  width: calc(100% * (1 / 3) - 10px);
  height: 50%;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  align-items: center;
}
