@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --app-background: #1c1c1e;
  --sheet-background: #2c2c2e;
  --element-background: #3a3a3c;

  --text-color: #f2f2f2;

  --primary-purple: #8d4cff;
  --primary-teal: #4fdac6;
  --primary-red: #ff3d3d;
  --primary-gold: #d7b924;
  --primary-blue: #284ffe;
  --primary-green: #4bde34;
}

.App {
  background-color: var(--app-background);
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Spectral", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px 0;
  width: 95%;
}

main {
  width: 100%;
}

header h1 {
  color: var(--text-color);
  margin: 0;
}

header h4 {
  color: var(--primary-gold);
  margin: 0;
}

header .app-header-icons {
  font-size: 2rem;
  margin-left: 10px;
  gap: 25px;
  display: flex;
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

header .app-header-text {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

@media (max-width: 600px) {
  header .app-header-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  header .app-header-icons {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-size: 1.5em;
  }
}
