@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;1,300&display=swap");

:root {
  --primary-color: #00b3d3;
  --dark-primary: #006f83;
  --background-dark: #1f1f1f;
  --background-light: #333333;
  --background-lighter: #555555;
  --text-color: #ffffff;
  --prof-color: #00ff4c;
  --exp-color: #ffee00;
}

body {
  background-color: var(--background-dark);
  color: var(--text-color);
  font-family: "Noto Serif", sans-serif;
}
